nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    padding: 0.5rem;
}