<footer class="bg-primary text-light p-3 d-flex align-items-center flex-row">
    <div>
        <span>Made by Yossef Magdy &copy; 2024</span>
    </div>
    <div>
        <h6 class="text-center">Get in touch</h6>
        <div class="social">
            <a href="https://www.facebook.com/Yossefswelam">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.github.com/yossef-magdy">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/yossef-magdy">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>

