<app-header></app-header>
<div class="container py-5">
    <div class="row g-4">
        <div class="col-6">
            <img class="mb-2 big-img" [src]="data.thumbnail" alt="">
            <div class="small-img">
                @for (src of data.images; track $index) {
                    <img [src]="src" alt="">
                }
            </div>
        </div>
        <div class="col-6">
            <h2 class="title">{{data.title}}</h2>
            <p class="subtitle text-muted">{{data.description}}</p>
            <p>rating: {{data.rating}}</p>
            <hr class="hr"/>
            <h3 class="price">{{data.price}}</h3>
            <hr class="hr"/>
            @if (data.stock > 0) {
                <span class="mb-2 badge rounded-pill bg-success">in stock</span>
            } @else {
                <span class="mb-2 badge rounded-pill bg-danger">out of stock</span>
            }
            <p class="mt-2 mb-1">More information</p>
            <span class="badge bg-secondary-subtle text-dark px-4 py-2 me-3">{{data.category}}</span>
            @if (data.brand) {
                <span class="badge bg-secondary-subtle text-dark px-4 py-2">{{data.brand}}</span>
            }
            <hr class="hr"/>
            @if (data.stock > 0) {
                <div class="qty-control my-2">
                    <button class="btn bg-secondary-subtle" (click)="decrease()">&minus;</button>
                    <span class="bg-secondary-subtle" #itemCount>1</span>
                    <button class="btn bg-secondary-subtle" (click)="increase()">&plus;</button>
                </div>
                <span class="ms-3 my-2">Only <span class="fw-bold" style="color: #fd7e14;">{{data.stock}} items</span> left, don't miss it</span>
            }
            <hr class="hr"/>
            <button class="btn rounded-pill bg-success text-light px-5 py-2 me-3 my-2">Buy Now</button>
            <button class="btn rounded-pill border border-success text-success px-5 py-2 my-2">Add to Cart</button>
            <hr class="hr"/>
        </div>
    </div>
    </div>